../../.idea/

.venv/
venv/

__pycache__/
*.py[cod]

*.log

.DS_Store
Thumbs.db

.env

*.pyc

*.tar

workspace/output/*
!workspace/output/.gitkeep
!workspace/output/36701075/
!workspace/output/36701075/**
!workspace/output/36701076/
!workspace/output/36701076/**
!workspace/output/36701077/
!workspace/output/36701077/**
workspace/**/__pycache__/
workspace/**/*.pyc
